    <!-- footer -->

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3><i class="fas fa-paw"></i> zoo</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p class="links"><i class="fas fa-clock"></i>lundi - vendredi</p>
          <p class="days">7:00 - 19:00</p>
        </div>

        <div class="box">
          <h3>Contact Info</h3>
          <a href="#" class="links"
            ><i class="fas fa-phone"></i> 0123456789</a
            >
          <a href="#" class="links"
            ><i class="fas fa-envelope"></i> Contact</a
          >
          <a href="#" class="links"
            ><i class="fas fa-map-marker-alt"></i> 8 impasse du zoo</a
          >
        </div>

        <div class="box">
          <h3>quick links</h3>
          <a href="#" class="links"> <i class="fas fa-arrow-right"></i>Services</a>
          <a href="#" class="links"> <i class="fas fa-arrow-right"></i>A propos</a>
          <a href="#" class="links"> <i class="fas fa-arrow-right"></i>Habitat</a>
          <a href="#" class="links"> <i class="fas fa-arrow-right"></i>Billeterie</a>
        </div>

        <div class="box">
          <h3>newsletter</h3>
          <p>Notre newsletter </p>
          <input type="email" placeholder="Your Email" class="email" />
          <a href="#" class="btn">s'inscrire</a>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="credit">
        &copy; 2024 zooArcadia. Tous droit reservés
        <a href="#" class="link">Richard-junior BOURDON</a>
      </div>
    </section>

    <!-- end -->