{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <!-- home -->

    <section class="home" id="home">
      <div class="content">
        <h3>
          Profiter d'une merveilleuse <br />
          aventure au millieu <br />
          des animaux
        </h3>
        <a href="#" class="btn">plan du zoo</a>
      </div>
      <div class="overlay"></div>
    </section>

    <!-- end -->

    <!-- about -->

    <section class="about" id="about">
      <div class="box-container">
        <div class="image">
          <img src="images/about.png" alt="" />
        </div>

        <div class="content">
          <h2 class="title">64 ans d'histoire</h2>
          <p>
            le Parc Zoologique d’Arcadia a ouvert ses portes le 29 octobre 1960,
            non loin de la forêt de Broceliande.
          </p>
          <p>
            A l’heure actuelle, le zoo s’étend sur 10 hectares et compte environ
            1000 animaux originaires des cinq continents. Il représente l’une
            des plus grandes biodiversité de France, avec une moyenne de 150
            espèces sur l’ensemble du parc.
          </p>

          <div class="icons-container">
            <div class="icons">
              <i class="fas fa-graduation-cap"></i>
              <h3>we educate</h3>
            </div>
            <div class="icons">
              <i class="fas fa-bullhorn"></i>
              <h3>we play</h3>
            </div>
            <div class="icons">
              <i class="fas fa-book-open"></i>
              <h3>getting to know</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end -->

    <!-- Service -->

    <section class="service" id="service">
      <h2 class="heading">service</h2>
      <div class="box-container">
        <div class="box">
          <img src="images/gallery-1.jpg" alt="" srcset="" />
          <h3>photography</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro
            inventore ducimus, illo, possimus, asperiores quos quibusdam nihil
            culpa fugit labore natus alias eius dolore maiores ipsum distinctio
            provident ex!
          </p>
        </div>
        <div class="box">
          <img src="images/gallery-1.jpg" alt="" srcset="" />
          <h3>photography</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro
            inventore ducimus, illo, possimus, asperiores quos quibusdam nihil
            culpa fugit labore natus alias eius dolore maiores ipsum distinctio
            provident ex!
          </p>
        </div>
        <div class="box">
          <img src="images/gallery-1.jpg" alt="" srcset="" />
          <h3>photography</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro
            inventore ducimus, illo, possimus, asperiores quos quibusdam nihil
            culpa fugit labore natus alias eius dolore maiores ipsum distinctio
            provident ex!
          </p>
        </div>
      </div>
    </section>

    <!-- end -->

    <!-- animals -->

    <section class="habitat" id="habitat">
      <h2 class="heading">animals</h2>

      <div class="box-container">
        <div class="box">
          <img src="images/animal_1.jpg" alt="" />
          <div class="content">
            <h3>savane</h3>
            <a href="#" class="btn">voir plus</a>
          </div>
        </div>

        <div class="box">
          <img src="images/animals_2.jpg" alt="" />
          <div class="content">
            <h3>jungle</h3>
            <a href="#" class="btn">voir plus</a>
          </div>
        </div>

        <div class="box">
          <img src="images/animals_3.jpg" alt="" />
          <div class="content">
            <h3>marais</h3>
            <a href="#" class="btn">voir plus</a>
          </div>
        </div>

        <div class="box">
          <img src="images/animals_4.jpg" alt="" />
          <div class="content">
            <h3>forêt</h3>
            <a href="#" class="btn">voir plus</a>
          </div>
        </div>
      </div>
    </section>

    <!-- end -->

    <!-- banner -->

    <section class="testimonials">
      <h2 class="heading">Vos avis</h2>
      <div class="wrapper">
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>
            Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing
            elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos
            repellendus repudiandae deleniti ideas fuga molestiae, alias.
          </p>
          <div class="content">
            <div class="info">
              <div class="name">Alex Smith</div>
              <div class="job">Designer | Developer</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img src="images/profile-1.jpeg" alt="" />
            </div>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>
            Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing
            elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos
            repellendus repudiandae deleniti ideas fuga molestiae, alias.
          </p>
          <div class="content">
            <div class="info">
              <div class="name">Steven Chris</div>
              <div class="job">YouTuber | Blogger</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img src="images/profile-2.jpeg" alt="" />
            </div>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>
            Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing
            elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos
            repellendus repudiandae deleniti ideas fuga molestiae, alias.
          </p>
          <div class="content">
            <div class="info">
              <div class="name">Kristina Bellis</div>
              <div class="job">Freelancer | Advertiser</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img src="images/profile-3.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end -->

    <!-- billeterie -->

    <section class="pricing" id="pricing">
      <h2 class="heading">billeteries</h2>

      <div class="box-container">
        <div class="box">
          <img src="images/pricing1.png" alt="" />
          <h3>individuel</h3>
          <h4 class="price">$ 10</h4>
          <p>the entrance is from 8:00 to 14:00</p>
        </div>

        <div class="box">
          <img src="images/pricing2.png" alt="" />
          <h3>etudiant</h3>
          <h4 class="price">$ 20</h4>
          <p>the entrance is from 8:00 to 14:00</p>
        </div>

        <div class="box">
          <img src="images/pricing1.png" alt="" />
          <h3>famille</h3>
          <h4 class="price">$ 30</h4>
          <p>the entrance is from 8:00 to 14:00</p>
        </div>
      </div>
    </section>

    <!-- end -->

    <!-- contact -->

    <section class="contact" id="contact">
      <h2 class="heading">contact</h2>

      <form action="">
        <div class="inputBox">
          <input type="text" placeholder="name" />
          <input type="email" placeholder="email" />
        </div>

        <div class="inputBox">
          <input type="number" placeholder="number" />
          <input type="text" placeholder="subject" />
        </div>

        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="meassage"
        ></textarea>

        <a href="#" class="btn">send message</a>
      </form>
    </section>

    <!-- end -->
{% endblock %}
